<meta charset="utf-8" emacsmode="-*- markdown -*-"><link rel="stylesheet" href="website.css?">

                          **The Psichic CodeX**

This website contains a sampling of code-snippets for scientific computing in various languages.


Features
==============================================================

What is covered

- Octave
- Python
- Python (Scienctific)
- Wolframscript
- LaTeX
- LaTeX (Beamer)

Python (Core)
==================================================================

## Execfile Substitute

Keep this file in your CWD.

~~~~~~
import sys
#pyexec.py
def execfile(filename, globals=None, locals=None):
    if globals is None:
        globals = sys._getframe(1).f_globals
    if locals is None:
        locals = sys._getframe(1).f_locals
    with open(filename, "r") as fh:
        exec(fh.read()+"\n", globals, locals)

~~~~~~

Test file : Put this code in `testexec.py`, also in your CWD

~~~~~~
a=2
b=3
c=a+b
print(c)

~~~~~~

The Effect:

~~~~~~
>>> from pyexec import execfile
>>> execfile('testexec.py')
5
>>> dir()
['__annotations__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', 'a', 'b', 'c', 'execfile']
>>> a
2
>>> b
3
>>> c
5
~~~~~~

Notes:

1. See: [this stackoverflow page](https://stackoverflow.com/questions/436198/what-is-an-alternative-to-execfile-in-python-3)
2. In Ipython, simply `%run /path/to/filename.py`

Beamer (LaTeX)
================================================================

## Notes Side by side

~~~~~~
\documentclass{beamer}
% % % % % % comment out in presentation % % % % % % %
\usepackage{pgfpages}
\setbeamertemplate{note page}[plain]
\setbeameroption{show notes on second screen=right}
% % % % % % comment out in presentation % % % % % % %
\usepackage{graphics}
\usepackage{amsmath,amsthm}
\title[NIX]{An Invitation to Linux and Unix Operating Systems}
\author{Shibaji Banerjee \\ \copyright CopyLeft 2013}
\institute{St. Xavier's College(Autonomous), Kolkata \\ Department of Physics}
\date{February 2013}

\begin{document}
\begin{frame}
\note{Welcome. The objective of this talk is to get you familiar with Linux, so that you can strike off immediately with your primary objective. However be forewarned that Linux
have turned into a primary obsession for about 1 per 1000 internet users (Src: Lico, linuxcounter.net) due to its hassle free usability and there are an estimated user base of
64 L users who do not wish to hold anything back from their peers, true to the spirit of Open Source. Next: A brief historical expose, occupying about two slides.}
\titlepage
\end{frame}
\end{document}
~~~~~~

![](https://i.imgur.com/AeaJq02.png)

LaTeX (Core)
==============================================================

## Tagging

Generate Multiple output documents from single LaTeX source like notes, slides, workbook, exams, instructor manual etc.
Set tagged zones in the source and use one command in the preamble to mark any one or a set of them to be active.

**Preamble**:

- `\usetag{this,that}`
- `\droptag{this,that} %or inactive`

**Tagging through**:
- `\tagged{taglist}{text}`
- `\untagged{taglist}{text}`
- `\iftagged{taglist}{text}{alt-text}`
- `\begin \end taggedblock/untaggedblock with taglist arg.`

**Notes**

- Also archived with (1) snipplr.com (bann creds)
- I was trying to generate alternate outputs from a single markdown source. Checked templating, gawk, sed options. Seemed that the best way to do this is to convert from Markdown to LaTeX at some point and then use one of the
[Conditional compilation options](https://texfaq.org/FAQ-conditional)
- [User Manual for Tagged package](https://mirror.niser.ac.in/ctan/macros/latex/contrib/tagging/tagging.pdf)

### MWE

~~~~~~
\documentclass{article}
% sampleTagging.tex
\usepackage{tagging}
\usetag{author} %can use a list i.e {this,that}
%\droptag{fancy}
\begin{document}
Hey this text is for all.
\begin{taggedblock}{author}
This is eyes only for author
\end{taggedblock}
\begin{taggedblock}{instructor}
This is eyes only for instructor
\end{taggedblock}
\begin{taggedblock}{student}
This is eyes only for student
\end{taggedblock}
\end{document}
~~~~~~

### Thru "Optional" Package

~~~~~~latex
%One way to use this package is to declare (for example)
\usepackage[opta]{optional}
%at the beginning of your document, and flag optional text throughout your document like:
\opt{opta}{Do this if option opta was declared}
\opt{optb}{Do this if option optb was declared}
\opt{optx,opty}{Do this if either option optx or opty}
\opt{}{Never print this text!}
\opt{opta}{\input{appendices}}
\optv{xam}{Type: \verb|[root /]$ rm -r *|.}
~~~~~~

Automation
==============================================================

## Backup

```
@echo off
setlocal
SET AREYOUSURE=N
SET TGT=H:\SPACE\Backup
echo Did you update the 0Backups.txt file?
echo Have you Backed up Beeftext/KeepNote (ShibNB) from inside?)
echo Did you export KeepNote (ShibNB) to WSShibNB?
Echo Do you have the thumbdrive ready in H drive?
:PROMPT
SET /P AREYOUSURE=Are you sure (Y/[N])?
IF /I "%AREYOUSURE%" NEQ "Y" GOTO END
REM REST OF THE SCRIPT
ECHO DELETING STALE FILES..........................................
IF EXIST del orpheus.zip
IF EXIST del WSShibNB.zip
IF EXIST del zbook.zip
ECHO DONE..........................................................
ECHO ZIPPING Orpheus Zbook and WSShibNB ...
7za a orpheus.zip "G:\My Drive\Notes\Notable\Orpheus"
7za a zbook.zip E:\007\USB\ZBook
7za a WSShibNB.zip WSShibNB
RD /S/Q WSShibNB
ECHO DONE.........................................................
ECHO Copying Files to %TGT% ......................................
copy /Y 0backups.txt %TGT%
copy /Y Beeftext.btbackup_2023-06-24.btbackup %TGT%
copy /Y orpheus.zip %TGT%
copy /Y ShibNB.tar.gz %TGT%
copy /Y WSShibNB.zip %TGT%
copy /Y zbook.zip %TGT%
ECHO DONE.........................................................

:END
endlocal
```

Markdown
==============================================================

## Include LaTeX



**md2pdf.cmd**

```
REM s for standalone (with LaTeX Headers, else a fragment) -i for incremental slides
pandoc -s -i Hello.md -o Hello.pdf
```

**md2tex.cmd**

```
REM REM s for standalone (with LaTeX Headers, else a fragment) -i for incremental slides
pandoc -s -i Hello.md -o Hello.tex
```

**Hello.md**

```markdown
---
title: Just say hello!
author: My Friend
header-includes: |
    \usepackage{tikz,pgfplots}
    \usepackage{fancyhdr}
    \pagestyle{fancy}
    \fancyhead[CO,CE]{This is fancy}
    \fancyfoot[CO,CE]{So is this}
    \fancyfoot[LE,RO]{\thepage}
abstract: This is a pandoc test with Markdown + inline LaTeX
---

Just say hello!
===============

This could be a good example or inlined \LaTeX:

\begin{tikzpicture}
\begin{axis}
\addplot[color=red]{exp(x)};
\end{axis}
\end{tikzpicture}
%Here ends the furst plot
\hskip 5pt
%Here begins the 3d plot
\begin{tikzpicture}
\begin{axis}
\addplot3[
    surf,
]
{exp(-x^2-y^2)*x};
\end{axis}
\end{tikzpicture}

And now, just a few words to terminate:

> Goodbye folks!
```

**Converted File**

```tex
% Options for packages loaded elsewhere
% Converted file (psi)
\PassOptionsToPackage{unicode}{hyperref}
\PassOptionsToPackage{hyphens}{url}
%
\documentclass[
]{article}
\usepackage{amsmath,amssymb}
\usepackage{lmodern}
\usepackage{iftex}
\ifPDFTeX
  \usepackage[T1]{fontenc}
  \usepackage[utf8]{inputenc}
  \usepackage{textcomp} % provide euro and other symbols
\else % if luatex or xetex
  \usepackage{unicode-math}
  \defaultfontfeatures{Scale=MatchLowercase}
  \defaultfontfeatures[\rmfamily]{Ligatures=TeX,Scale=1}
\fi
% Use upquote if available, for straight quotes in verbatim environments
\IfFileExists{upquote.sty}{\usepackage{upquote}}{}
\IfFileExists{microtype.sty}{% use microtype if available
  \usepackage[]{microtype}
  \UseMicrotypeSet[protrusion]{basicmath} % disable protrusion for tt fonts
}{}
\makeatletter
\@ifundefined{KOMAClassName}{% if non-KOMA class
  \IfFileExists{parskip.sty}{%
    \usepackage{parskip}
  }{% else
    \setlength{\parindent}{0pt}
    \setlength{\parskip}{6pt plus 2pt minus 1pt}}
}{% if KOMA class
  \KOMAoptions{parskip=half}}
\makeatother
\usepackage{xcolor}
\setlength{\emergencystretch}{3em} % prevent overfull lines
\providecommand{\tightlist}{%
  \setlength{\itemsep}{0pt}\setlength{\parskip}{0pt}}
\setcounter{secnumdepth}{-\maxdimen} % remove section numbering
\usepackage{tikz,pgfplots}
\usepackage{fancyhdr}
\pagestyle{fancy}
\fancyhead[CO,CE]{This is fancy}
\fancyfoot[CO,CE]{So is this}
\fancyfoot[LE,RO]{\thepage}
\ifLuaTeX
  \usepackage{selnolig}  % disable illegal ligatures
\fi
\IfFileExists{bookmark.sty}{\usepackage{bookmark}}{\usepackage{hyperref}}
\IfFileExists{xurl.sty}{\usepackage{xurl}}{} % add URL line breaks if available
\urlstyle{same} % disable monospaced font for URLs
\hypersetup{
  pdftitle={Just say hello!},
  pdfauthor={My Friend},
  hidelinks,
  pdfcreator={LaTeX via pandoc}}

\title{Just say hello!}
\author{My Friend}
\date{}

\begin{document}
\maketitle
\begin{abstract}
This is a pandoc test with Markdown + inline LaTeX
\end{abstract}

\hypertarget{just-say-hello}{%
\section{Just say hello!}\label{just-say-hello}}

This could be a good example or inlined \LaTeX:

\begin{tikzpicture}
\begin{axis}
\addplot[color=red]{exp(x)};
\end{axis}
\end{tikzpicture}

\%Here ends the furst plot \hskip 5pt \%Here begins the 3d plot

\begin{tikzpicture}
\begin{axis}
\addplot3[
    surf,
]
{exp(-x^2-y^2)*x};
\end{axis}
\end{tikzpicture}

And now, just a few words to terminate:

\begin{quote}
Goodbye folks!
\end{quote}

\end{document}
```

**Refs**

- https://pandoc.org/extras.html
- https://pandoc.org/MANUAL.html
- https://github.com/Wandmalfarbe/pandoc-latex-template

About
==============================================================

The logo-icon in the banner is from [Imgur](https://i.imgur.com/K4upfBe.png). In my systems it resides as `psicon.jpg` <small> check the accompanying css file </small>


<style class="fallback">body{visibility:hidden}</style><script>markdeepOptions={tocStyle:'long'};</script>
<!-- Markdeep: --><script src="https://casual-effects.com/markdeep/latest/markdeep.min.js?" charset="utf-8"></script>
